.container {
  width: 870px;
  height: 300px;
  border: 4px solid #323332;
  background-color: #1597af;
}
.item {
  width: 100px;
  height: 100px;
  border: 4px solid #323332;
  background-color: #e43680;
  margin: 10px;
  font-size: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
